
#guardarEnun{
	margin: 0.5%;
	margin-left: 58%;

}

#textTitulo{
	width: 40%;
	margin-left: 22%;
}

h3{
	margin-top: 10%;
}


#inputDes {
	width: 60%;
	margin-left: 10%;
	margin-top: 3%;
	height: 200px;
}

#bloSalida{
	background-color: coral;
	width: 46%;
}