



#popover-basic-CS{
	 display: block;
    top: 259px;
    left: 900px;
    font-weight: 600;
    font-size: 2rem;
   max-width: 300px;

}

#TextInputCodeId{
	width: 50%;
}
#TextOutputCodeId{
	width: 50%;

}

#guardarEnunC{
	margin-left: 36%;
}

h3{
	    margin-left: 0%;
}
#labelOutput{
	    margin-top: 0%;
}

#col1{
	width: 200%;
}

#blah2{
	margin-left: 10%;
}
#col2{
	width: 100%;
}

.IngresarCodigoPyhton{

	margin: 10%;
}

.IngresarCodigoC{

	margin: 10%;
}

.IngresarCodigoJava{

	margin: 10%;
}

#formInput{
	width: 20%;
	margin: 1%;
}

#bloSalida{
	margin-left: 10%;
	width: 29.5% !important;
}

#enviarSol{
	 margin-left: -66%;

}

  