
.IngresarCodigo{
	padding-left: 10%;
}


#popover-basic-CS{
	 display: block;
    top: 259px;
    left: 700px;
    font-weight: 600;

}

#TextInputCodeId{
	width: 50%;
}
#TextOutputCodeId{
	width: 50%;

}

#guardarEnunC{
	margin-left: 36%;
}

h3{
	    margin-left: 0%;
}
#labelOutput{
	    margin-top: 0%;
}

#col1{
	width: 200%;
}

#col2{
	width: 100%;
}

.IngresarCodigoPyhton{

	margin: 10%;
}

.IngresarCodigoC{

	margin: 10%;
}

.IngresarCodigoJava{

	margin: 10%;
}

#formInput{
	width: 20%;
	margin: 1%;
}



   